/* footer */
.app-footer p {
  color: white;
  padding: 4px;
  /* font-size: 20px; */
}

.app-footer a {
  color: white;
  /* font-size: 20px; */
}

.app-footer a:hover {
  color: white;
  text-underline-position: below;
}

.app-footer strong {
  color: white;
}

.app-footer p {
  color: white;
}
