@import "../../styles/config.scss";

.body {
  background-color: $black;
  padding: 20px;
  align-items: center;
}

// logo
.logo {
  font-family: cursive;
  text-decoration: none;
  color: $pink;
  text-shadow: $shadow-1 $pink, $shadow-2 $pink, $shadow-3 $pink;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.logo:hover {
  color: $pink;
}

.link {
  color: $white !important;
  font-weight: bold;
}

.link:hover {
  color: $yellow !important;
  text-shadow: $shadow-1 $yellow, $shadow-2 $yellow, $shadow-3 $yellow;
}

.collapse-btn {
  border-color: $pink !important;
}

.collapse-btn-icon {
  color: $pink !important;
}

.collapse-btn-icon:hover {
  color: $white !important;
}

.collapse-btn:hover {
  background: $pink;
  box-shadow: $shadow-1 $pink, $shadow-2 $pink, $shadow-3 $pink;
}

.collapse-btn:active {
  box-shadow: none;
}

// user-icon
.link {
  color: $white !important;
  font-weight: bold;
}

.link:hover {
  color: $yellow !important;
  text-shadow: $shadow-1 $yellow, $shadow-2 $yellow, $shadow-3 $yellow;
}
