@import "../styles/config.scss";

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan
);

@each $c-name, $color in $colors {
  .text-#{$c-name} {
    color: $color;
  }
  .text-#{$c-name}:hover {
    text-shadow: $shadow-1 $color, $shadow-2 $color, $shadow-3 $color,
      $shadow-4 $color;
  }
  .text-#{$c-name}-w {
    color: $white;
  }
  .text-#{$c-name}-w:hover {
    color: $color;
    text-shadow: $shadow-1 $color, $shadow-2 $color, $shadow-3 $color,
      $shadow-4 $color;
  }
}
