@import "../styles/config.scss";

.body {
  background-color: $black;
}

.link {
  display: inline-block;
  position: relative;
}

.link:hover {
  text-decoration: none;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 0;
  height: 1px;
  background-color: $yellow;
  transition: all 0.3s ease-in-out;
  box-shadow: $shadow-1 $yellow, $shadow-2 $yellow, $shadow-3 $yellow;
}

.link:hover:before {
  width: 100%;
}

// media container
.media-container {
  display: flex;
  justify-content: space-between;
}

.media-icon {
  background-color: $white;
  color: $pink;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: transform 0.5s ease;
}

// media icons
.media-icon:hover {
  color: $white;
  transition: transform 0.5s ease;
  transform: scale(1.5);
  text-decoration: none;
}

.facebook {
  @extend .media-icon;
}

.twitter {
  @extend .media-icon;
}

.instagram {
  @extend .media-icon;
}

.pinterest {
  @extend .media-icon;
}

.youtube {
  @extend .media-icon;
}

.facebook:hover {
  @extend .media-icon:hover;
  background-color: $blue;
  box-shadow: $shadow-1 $blue, $shadow-2 $blue, $shadow-3 $blue, $shadow-4 $blue;
}

.twitter:hover {
  @extend .media-icon:hover;
  background-color: $blue;
  box-shadow: $shadow-1 $blue, $shadow-2 $blue, $shadow-3 $blue, $shadow-4 $blue;
}

.instagram:hover {
  @extend .media-icon:hover;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: $shadow-1 $purple, $shadow-2 $purple, $shadow-3 $purple,
    $shadow-4 $purple;
}

.pinterest:hover {
  @extend .media-icon:hover;
  background-color: $red;
  box-shadow: $shadow-1 $red, $shadow-2 $red, $shadow-3 $red, $shadow-4 $red;
}

.youtube:hover {
  @extend .media-icon:hover;
  background-color: $red;
  box-shadow: $shadow-1 $red, $shadow-2 $red, $shadow-3 $red, $shadow-4 $red;
}
