/* footer */
.footer-style p {
  color: white;
  /* font-size: 20px; */
}

.footer-style a {
  color: white;
  /* font-size: 20px; */
}

.footer-style a:hover {
  color: white;
  text-underline-position: below;
}
