/* header */
.header-style {
  background-color: #555;
  /* border: thick darkgoldenrod solid; */
  /* height: 100px; */
}

.header-style a {
  /* font-size: 25px; */
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 20px;
}
