@import "../styles/config.scss";

.body {
  background-color: $black;
  padding-top: 0;
  padding-bottom: 0;
}

.link {
  @include link($yellow, 0.2, 2px);
}

.nav-item {
  height: 55px;
  display: flex;
  align-items: center;
}

.nav-item:hover {
  background-color: $dark;
}

.logo {
  @include link($pink, 0.3, 3px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $pink;
  font-family: cursive;
  text-shadow: $shadow-1 $pink, $shadow-2 $pink;

  &:hover {
    color: $pink;
    text-shadow: $shadow-1 $pink, $shadow-2 $pink, $shadow-3 $pink,
      $shadow-4 $pink;
  }
}

// Collapse Button
.collapse-btn {
  border-color: $pink;
  box-shadow: inset $shadow-1 $pink, inset $shadow-2 $pink, $shadow-1 $pink,
    $shadow-2 $pink;
}

.collapse-btn-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// Dropdown
.dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: block;
  opacity: 0;
  transition: ease-out 0.3s;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
}

.dropdown {
  border: 1px solid red;
}

.dropdown:hover {
  color: red !important;
}
