@import "../../styles/config.scss";

.body {
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient($black, $black),
    linear-gradient(to right, $pink, $yellow);
  background-origin: border-box;
  background-clip: content-box, border-box;
  // box-shadow: $shadow-1 $white, $shadow-2 $white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, $pink, $yellow);
  border: none;
}
