@import "./config.scss";

// input skin 1
.input-1 {
  padding: 2px;
  border-radius: 50px;
  background-color: $white;
  border: 1px solid $dim;
}

.input-1 span {
  background-color: transparent !important;
}

.input-1 input {
  background-color: transparent !important;
}

// input skin 2
.input-2 {
  background-color: transparent;
  border-bottom: 1px solid $dim;
}

.input-2 span {
  color: $white;
  background-color: transparent !important;
}

.input-2 input {
  color: $white !important;
  background-color: transparent !important;
}
