@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,900&display=swap");

body {
  margin: 0;
  font-family: Nunito, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-warning {
  color: red;
}

.btn-info {
  background-color: green;
}

.app-btn {
  border-radius: 5px;
  height: 40px;
  padding: 5px;
  background-color: transparent;
  border: none;
}

.app-btn:focus {
  outline: none;
}

.btn-orange {
  background-color: #fd7e14;
  color: #ffffff;
}

.btn-orange:active {
  background-color: #fd7e14;
  color: #ffffff;
}

.btn-orange:hover {
  filter: brightness(110%);
}

.btn-purple {
  background-color: #6f42c1 !important;
  color: #ffffff !important ;
}

.btn-purple:active {
  background-color: #6f42c1 !important;
  color: #ffffff !important;
}

.btn-purple:hover {
  filter: brightness(110%);
}
